@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


@mixin media_query ($min-width, $max-width) {
	@media screen and (min-width:$min-width) and (max-width:$max-width) {

		@content;
	}
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif Caption', serif;
    color: white;
    min-height: 100vh;
}

header {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

header img {
    width: 15%;
    margin-bottom: 10px;

    @include media_query(601px, 900px){
        width: 20%;
    }

    @include media_query(0px, 600px){
        width: 30%;
    }
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    position: relative;
}

header .nav_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header a {
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border:1px solid transparent; 
   -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);

    @include media_query(0px, 700px){
        font-size: 13px;
    }
}

header a.active {
    border: 2px solid white;
}
  
header a:before {
content: "";
width: 0;
height: 3px;
background-color: #ffffff;
position: absolute;
top: 120%;
left: 0;
transition: all 0.5s;
}

header a a:after {
content: "";
width: 0;
height: 3px;
background-color: gray;
position: absolute;
top: 120%;
right: 0;
transition: all 0.5s;
}

header a:hover:before {
width: 50%;
transform: translateX(100%);
}

header a:hover:after {
width: 50%;
transform: translateX(-100%);
}

.dream_bg {
    background: url("../assets/dream_bg.png") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.dream_text {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.1px solid #d8d8d871;
    padding: 80px 0;
}

.dream_text h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 150px;
    line-height: 125px;
    letter-spacing: 5px;
    margin: 30px 0;

    @include media_query(701px, 1000px){
        font-size: 100px;
    }

    @include media_query(501px, 700px){
        font-size: 75px;
        line-height: 100px;
    }

    @include media_query(0px, 500px){
        font-size: 50px;
        line-height: 75px;
    }
}

.dream_text p {
    font-size: 25px;
    padding: 0 80px;

    @include media_query(701px, 1000px){
        font-size: 20px;
    }

    @include media_query(501px, 700px){
        font-size: 17px;
        padding: 0 40px;
    }

    @include media_query(0px, 500px){
        font-size: 14px;
        padding: 0 20px
    }
}

.dream_text a {
    margin-top: 20px;
    font-size: 18px;
    padding: 8px 20px;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;

    @include media_query(401px, 600px){
        font-size: 14px;
    }

    @include media_query(0px, 400px){
        font-size: 12px;
    }
}