@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif Caption", serif;
  color: white;
  min-height: 100vh;
}

header {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

header img {
  width: 15%;
  margin-bottom: 10px;
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  header img {
    width: 20%;
  }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  header img {
    width: 30%;
  }
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  position: relative;
}

header .nav_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header a {
  text-transform: uppercase;
  font-size: 15px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
@media screen and (min-width: 0px) and (max-width: 700px) {
  header a {
    font-size: 13px;
  }
}

header a.active {
  border: 2px solid white;
}

header a:before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 120%;
  left: 0;
  transition: all 0.5s;
}

header a a:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: gray;
  position: absolute;
  top: 120%;
  right: 0;
  transition: all 0.5s;
}

header a:hover:before {
  width: 50%;
  transform: translateX(100%);
}

header a:hover:after {
  width: 50%;
  transform: translateX(-100%);
}

.portfolio {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/erlin.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 100px 20px;
}

.portfolio p {
  font-size: 20px;
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  .portfolio p {
    font-size: 17px;
  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .portfolio p {
    font-size: 14px;
  }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .portfolio p {
    font-size: 12px;
    margin: 20px 0;
  }
}

.portfolio h1 {
  font-family: "Dancing Script", cursive;
  font-size: 200px;
  letter-spacing: 5px;
  margin: 30px 0;
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  .portfolio h1 {
    font-size: 150px;
  }
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .portfolio h1 {
    font-size: 100px;
    margin: 20px 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .portfolio h1 {
    font-size: 50px;
    margin: 20px 0;
  }
}

.portfolio a {
  margin-top: 20px;
  font-size: 18px;
  padding: 8px 20px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .portfolio a {
    font-size: 14px;
  }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .portfolio a {
    font-size: 12px;
  }
}/*# sourceMappingURL=index.css.map */