/* SERENADE PAGE - CSS DESIGN */
/* Importing fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
/* CSS design for the body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif Caption", serif;
  color: white;
  min-height: 100vh;
}
/* CSS design for the header */
header {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
/* CSS design for the header img */
header img {
  width: 15%;
  margin-bottom: 10px;
}
/* CSS design for the header img */
@media screen and (min-width: 601px) and (max-width: 900px) {
  header img {
    width: 20%;
  }
}
/* CSS design for the header img */
@media screen and (min-width: 0px) and (max-width: 600px) {
  header img {
    width: 30%;
  }
}
/* CSS design for the anchor tag & its hover & active effect */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  position: relative;
}
/* CSS design for the nav_links in the header */
header .nav_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* CSS design for the anchor tag in the header */
header a {
  text-transform: uppercase;
  font-size: 15px;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
/* Making the anchor tags responsive */
@media screen and (min-width: 0px) and (max-width: 700px) {
  header a {
    font-size: 13px;
  }
}
/* CSS design for the active anchor tag */
header a.active {
  border: 2px solid white;
}
/* Adding before-transitions to anchor tag */
header a:before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 120%;
  left: 0;
  transition: all 0.5s;
}
/* Adding after-transitions to anchor tag */
header a a:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: gray;
  position: absolute;
  top: 120%;
  right: 0;
  transition: all 0.5s;
}
/* a.active before and after default bg color */
header a.active:before, a.active:after {
  background-color: transparent;
}
/* anchor tag hover before effect */
header a:hover:before {
  width: 50%;
  transform: translateX(100%);
}
/* anchor tag hover after effect */
header a:hover:after {
  width: 50%;
  transform: translateX(-100%);
}
/* CSS design for the bg in serenade page */
.serenade_bg {
  background: url("../assets/serenade_bg.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
/* CSS design for the text in serenade page */
.serenade_text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0.1px solid rgba(216, 216, 216, 0.4431372549);
  padding: 80px 0;
}
/* CSS design for the h1 text in serenade page */
.serenade_text h1 {
  font-family: "Dancing Script", cursive;
  font-size: 150px;
  line-height: 125px;
  letter-spacing: 5px;
  margin: 30px 0;
}
/* Making the text in dream serenade responsive */
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .serenade_text h1 {
    font-size: 100px;
  }
}
/* Making the text in dream serenade responsive */
@media screen and (min-width: 501px) and (max-width: 700px) {
  .serenade_text h1 {
    font-size: 75px;
    line-height: 100px;
  }
}
/* Making the text in dream serenade responsive */
@media screen and (min-width: 0px) and (max-width: 500px) {
  .serenade_text h1 {
    font-size: 50px;
    line-height: 75px;
  }
}
/* CSS design for the paragraph text in serenade page */
.serenade_text p {
  font-size: 25px;
  padding: 0 80px;
}
/* Making the paragraph text in dream serenade responsive */
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .serenade_text p {
    font-size: 20px;
  }
}
/* Making the paragraph text in dream serenade responsive */
@media screen and (min-width: 501px) and (max-width: 700px) {
  .serenade_text p {
    font-size: 17px;
    padding: 0 40px;
  }
}
/* Making the paragraph text in dream serenade responsive */
@media screen and (min-width: 0px) and (max-width: 500px) {
  .serenade_text p {
    font-size: 14px;
    padding: 0 20px;
  }
}
/* CSS design for the anchor tag in serenade text */
.serenade_text a {
  margin-top: 20px;
  font-size: 18px;
  padding: 8px 20px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
}
/* Making the anchor tag in serenade text responsive */
@media screen and (min-width: 401px) and (max-width: 600px) {
  .serenade_text a {
    font-size: 14px;
  }
}
/* Making the anchor tag in serenade text responsive */
@media screen and (min-width: 0px) and (max-width: 400px) {
  .serenade_text a {
    font-size: 12px;
  }
}